<div class="open-step" wd-scroll-to>
    <div class="content">
        <div class="top-title">
            <p>国京证券开户申请</p>
        </div>
        
        <div class="progress-tip" 
            ng-class="{'hide': (step <= 2), 'show-slow': (step > 2)}">
            <p>完成</p>
            <p class="num">90%</p>
        </div>

        <div class="progress-toolbar" 
            ng-class="{'hide': (step === 1), 'show-slow': (step !== 1)}">
            <div class="item" ng-class="{current: (step === 2)}">
                1、填写申请表
                <span class="angle-current" ng-if="step === 2"></span>
                <span class="angle-default" ng-if="step !== 2">
                    <span class="child"></span>
                </span>
            </div>
            <div class="item" ng-class="{current: (step === 3)}">
                2、开户见证
                <span class="angle-current" ng-if="step === 3"></span>
                <span class="angle-default" ng-if="step !== 3">
                    <span class="child"></span>
                </span>
            </div>
            <div class="item">
                3、申请成功
            </div>
        </div>

        <!-- application-form -->
        <div class="application-form" 
            ng-class="{'hide': (step !== 2), 'show-slow': (step === 2), 'next': (step >= 3)}">
            <div class="title">基本信息</div>
            <ul class="base-form form">
                <li class="item">
                    <p class="item-title">开户类型</p>
                    <input type="checkbox" ng-model="userData.uiIsSecurity">
                    <p>证券账户</p>
                    <i class="icon-info tip" wd-tooltip
                    data-placement="bottom" 
                    title="环球证券保证金账户可投资港股、美股等股票。"></i>
                    <input type="checkbox" ng-model="userData.uiIsFutures">
                    <p>期货账户</p>
                    <i class="icon-info tip" wd-tooltip
                    data-placement="bottom"
                    title="环球期货账户可投资外盘贵金属、能源、农产品、指数、外汇等全球期货市场"></i>
                </li>
                <li class="item" ng-class="{'has-error': userData.uiNameCnError}">
                    <p class="item-title">中文姓名</p>
                    <input type="text" class="form-control item-input" ng-model="userData.nameCn" ng-blur="checkNameCn()" ng-focus="focusNameCn()">
                    <i class="right glyphicon glyphicon-ok" ng-class="{show: userData.uiNameCnRight, hide: !userData.uiNameCnRight}"></i>
                    <span class="error" ng-class="{show: userData.uiNameCnError, hide: !userData.uiNameCnError}">
                        <i class="glyphicon glyphicon-remove"></i>
                        <p>{{userData.uiNameCnError}}</p>
                    </span>
                </li>
                <li class="item" ng-class="{'has-error': userData.uiNameEnError}">
                    <p class="item-title">拼音姓名</p>
                    <input type="text" class="form-control item-input" ng-model="userData.nameEn" ng-blur="checkNameEn()" ng-focus="focusNameEn()">
                    <i class="right glyphicon glyphicon-ok" ng-class="{show: userData.uiNameEnRight, hide: !userData.uiNameEnRight}"></i>
                    <span class="error" ng-class="{show: userData.uiNameEnError, hide: !userData.uiNameEnError}">
                        <i class="glyphicon glyphicon-remove"></i>
                        <p>{{userData.uiNameEnError}}</p>
                    </span>
                </li>
                <li class="item" ng-class="{'has-error': userData.uiMobileError}">
                    <p class="item-title">手机号码</p>
                    <input type="text" class="mobile form-control item-input" ng-model="userData.mobile" ng-blur="checkMobile()" ng-focus="focusMobile()">
                    <i class="right glyphicon glyphicon-ok" ng-class="{show: userData.uiMobileRight, hide: !userData.uiMobileRight}"></i>
                    <span class="error" ng-class="{show: userData.uiMobileError, hide: !userData.uiMobileError}">
                        <i class="glyphicon glyphicon-remove"></i>
                        <p>{{userData.uiMobileError}}</p>
                    </span>
                </li>
                <li class="item" ng-class="{'has-error': userData.uiEmailError}">
                    <p class="item-title">电子邮件</p>
                    <input type="text" class="form-control item-input" ng-model="userData.email" ng-blur="checkEmail()" ng-focus="focusEmail()">
                    <i class="right glyphicon glyphicon-ok" ng-class="{show: userData.uiEmailRight, hide: !userData.uiEmailRight}"></i>
                    <span class="error" ng-class="{show: userData.uiEmailError, hide: !userData.uiEmailError}">
                        <i class="glyphicon glyphicon-remove"></i>
                        <p>{{userData.uiEmailError}}</p>
                    </span>
                </li>
            </ul>
            <div class="title">身份信息</div>
            <ul class="form">
                <li class="item">
                    <p class="item-title">国家/地区</p>
                    <select class="form-control" ng-model="userData.uiCountry" ng-options="title.key for title in countrysOptions"></select>
                </li>
                <li class="item">
                    <p class="item-title">证件类型</p>
                    <select class="form-control" ng-model="userData.uiIdKind" ng-options="title.key for title in idKindsOptions"></select>
                </li>
                <li class="item" ng-class="{'has-error': userData.uiIdValueError}">
                    <p class="item-title">证件号码</p>
                    <input type="text" class="form-control item-input" ng-model="userData.idValue" ng-blur="checkIdValue()" ng-focus="focusIdValue()">
                    <i class="right glyphicon glyphicon-ok" ng-class="{show: userData.uiIdValueRight, hide: !userData.uiIdValueRight}"></i>
                    <span class="error" ng-class="{show: userData.uiIdValueError, hide: !userData.uiIdValueError}">
                        <i class="glyphicon glyphicon-remove"></i>
                        <p>{{userData.uiIdValueError}}</p>
                    </span>
                </li>
                <li class="item" ng-class="{'has-error': userData.uiIssueDepartError}">
                    <p class="item-title">
                        签发机构
                        <!-- <i class="icon-info tip" wd-tooltip
                        data-placement="bottom"
                        title="证件照背面，例：XXX 公安局"></i> -->
                    </p>
                    <input type="text" class="form-control item-input" ng-model="userData.issueDepart" ng-blur="checkIssueDepart()" ng-focus="focusIssueDepart()">
                    <i class="right glyphicon glyphicon-ok" ng-class="{show: userData.uiIssueDepartRight, hide: !userData.uiIssueDepartRight}"></i>
                    <span class="error" ng-class="{show: userData.uiIssueDepartError, hide: !userData.uiIssueDepartError}">
                        <i class="glyphicon glyphicon-remove"></i>
                        <p>{{userData.uiIssueDepartError}}</p>
                    </span>
                </li>
                <li class="item">
                    <p class="item-title">
                        性别
                    </p>
                    <div class="sex-chose btn-group">
                        <span class="btn" ng-click="choseSex(0)" 
                        ng-class="{'no-check': userData.sex !== 0}">男</span>
                        <span class="btn" ng-click="choseSex(1)"
                        ng-class="{'no-check': userData.sex !== 1}">女</span>
                    </div>
                </li>
                <li class="item date-select">
                    <p class="item-title">出生日期</p>
                    <select class="year form-control" ng-model="userData.uiYear" ng-options="title.key for title in years"></select>年
                    <select class="form-control"  ng-model="userData.uiMonth" ng-options="title.key for title in months"></select>月
                    <select class="form-control"  ng-model="userData.uiDay" ng-options="title.key for title in days"></select>日
                </li>
            </ul>
            <div class="title">附加信息</div>
            <ul class="form">
                <li class="item">
                    <p class="item-title">就业状况</p>
                    <select class="form-control" ng-model="userData.uiEmployment" ng-options="title.key for title in employmentsOptions"></select>
                </li>
                <li class="item" ng-class="{'has-error': userData.uiAddressError}">
                    <p class="item-title">常住地址</p>
                    <input type="text" class="form-control item-input address" ng-model="userData.address" ng-blur="checkAddress()" ng-focus="focusAddress()">
                    <i class="right glyphicon glyphicon-ok" ng-class="{show: userData.uiAddressRight, hide: !userData.uiAddressRight}"></i>
                    <span class="error" ng-class="{show: userData.uiAddressError, hide: !userData.uiAddressError}">
                        <i class="glyphicon glyphicon-remove"></i>
                        <p>{{userData.uiAddressError}}</p>
                    </span>
                </li>
                <li class="item" ng-class="{'has-error': userData.uiSendAddressError}">
                    <p class="item-title">通讯地址</p>
                    <input type="text" class="form-control item-input address" ng-model="userData.sendAddress" ng-blur="checkSendAddress()" ng-focus="focusSendAddress()">
                    <i class="right glyphicon glyphicon-ok" ng-class="{show: userData.uiSendAddressRight, hide: !userData.uiSendAddressRight}"></i>
                    <span class="error" ng-class="{show: userData.uiSendAddressError, hide: !userData.uiSendAddressError}">
                        <i class="glyphicon glyphicon-remove"></i>
                        <p>{{userData.uiSendAddressError}}</p>
                    </span>
                </li>
            </ul>
            <div class="protocol">
                <input type="checkbox" ng-model="userData.uiAccept">
                <p>本人已经阅读且理解认同账户的<a href="">《风险披露声明》以及《客户协议书》</a></p>
            </div>
            <div class="submit-btn btn" ng-click="nextStep();" ng-disabled="!userData.uiAccept">确认，进入下一步</div>
        </div>
        <!-- application-form end -->

        <!-- witness -->
        <div class="witness-form" 
            ng-class="{'hide': (step !== 3),'show-slow': (step === 3)}">
            <p>恭喜您的《开户申请》提交成功，我们的客户经理会主动与您取得联系！</p>
            <br>
            <p>或者选择立即联系 QQ 客服：</p>
            <div class="photo">
                <i class="icon-witness-photo"></i>
                <br>
                <p class="name">王潇</p>
            </div>
            <div class="btn">QQ 立即联系</div>
        </div>
        <!-- witness end -->

        <!-- success -->
        <div class="success" 
            ng-class="{'hide': (step !== 4),'show-slow': (step === 4)}">
            <div class="title">
                <p>您的交易账户已开通！请记录交易账号：</p>
                <p class="tip">888888</p>
            </div>
            <div class="ad">
                <div class="block">
                    <i class="icon-download"></i>
                    <p class="title">下载交易软件</p>
                    <p class="des">移动端交易软件</p>
                </div>
                <div class="block">
                    <i class="icon-rule"></i>
                    <p class="title">了解规则</p>
                    <p class="des">查看交易规则及交易费用说明</p>
                </div>
                <div class="block">
                    <i class="icon-recharge"></i>
                    <p class="title">入金开始交易</p>
                    <p class="des">银联直接入金，即时到帐</p>
                </div>
            </div>
        </div>
        <!-- success end -->

    </div>
</div>