<div class="wd-footer">
    <div class="content">
        <i class="icon-logo"></i>
        <p class="title">国京（香港）证券与期货</p>
        <div class="tips">
            <a class="tip" target="_blank" href="http://www.guoking.com.hk/category.aspx?NodeID=12">关于我们</a>
            <a class="tip" target="_blank" href="http://www.guoking.com.hk/category.aspx?NodeID=107">证券期货牌照</a>
            <a class="tip" target="_blank" href="http://www.guoking.com.hk/category.aspx?NodeID=107">监管机构</a>
        </div>
        <p class="service">客服热线：400-150-0852</p>
    </div>
</div>